
<div class="jumbotron jumbotron-fluid db-platforms background-cyan mb-0">
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<h4 class="display-5">Platforms</h4>
				{{#each platforms}}
				<img src="{{sprite.url}}" width="{{sprite.width}}" height="{{sprite.height}}">
				{{/each}}
			</div>
		</div>
	</div>
</div>
