<div class="jumbotron jumbotron-fluid background-blue mb-0">
	<div class="container">
		<div class="justify-content-md-center text-center">
			<h2 class="text-white">Start using Toad today</h2>
			<p class="text-white">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
			<p><a class="btn btn-dark btn" href="/downloads" role="button">Download Products</a></p>
		</div>
	</div>
</div>
