// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import './partials/bootstrap_variables';
@import './node_modules/bootstrap/scss/bootstrap';

@import './partials/_downloads';
@import './partials/_jumbotron';
@import './partials/_navbar';
@import './partials/footer';

body {
  padding-top: 4.5rem;
}

main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fff;
}

main.nopad {
  padding-top: 0;
}

.background-white {
	background: #fff;
}

.background-cyan {
	background: #DCE2E6;
}

.background-gradient-blue {
  background: linear-gradient(15deg, #016A9C 0%, #02A3CB 70%) !important;
}

.background-blue {
  background: #02A3CB;
}

.background-gray {
	background: #455A64;
}

.background-getty1 {
  background: #D9E2F3 url('/assets/svg/getty-598310317-2560x650.jpg') 5% 50% no-repeat;
}

.vertical-center {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
  font-weight: 300;
}
